@import "color";

*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.top{
    margin-top: 30px;
    .top_contacts{
        height: 44px;
        .contacts{
            line-height: 18px;
            .tel{
                font-weight: bold;
                font-size: 18px;
                text-align: right;
            }
            p{
                text-align: right;
                font-size: 11px;
                opacity: 0.5;
            }
            [type=submit]{
                padding: 10px 20px 10px 20px;
                background: $white;
                border: 1px solid $black;
                cursor: pointer;
            }
        }
    }
}