@media (max-width: 1140px) {
    header{
        .header{
            margin-left: 2vh;
            margin-right: 2vh;
        }
    }
    
    .wrapper{
        .contacts{
            &_item{
                &:last-child{
                    margin-left: 60px;
                }
            }
            .contact_map{
                width: 550px;
            }
            @media (min-width: 827px) and (max-width: 956px) {
                &_item{
                    &:last-child{
                        margin-left: 30px;
                    }
                }
                .contact_map{
                    width: 400px;
                }
            }
        }
    }
}

@media (max-width: 827px) {

    header{
        .header{
            .humburger_menu{
                display: block;
            }
            .header_tel{
                flex-basis: 30%;
            }
            .header_btn{
                flex-basis: 0%;
                display: none;
                text-align: end;
            }
        }    
        nav{
            display: none;
        }
        .top{
            margin-top: 30px;
        }
    }

    .wrapper{
        .contacts{
            &_item{
                &:last-child{
                    margin-left: 0px;
                }
            }
            .contact_map{
                display: none;
            }
        }
    }
}