@media (max-width: 1140px) {
    header{
        .header{
            margin-left: 2vh;
            margin-right: 2vh;
            .header_logo{
                flex-basis: 55%;
                padding-bottom: 4px;
            }
            .header_tel{
                flex-basis: 25%;
                text-align: end;
            }
            .header_btn{
                flex-basis: 15%;
                .btn_contacts{
                    padding: 10px 10px 10px 10px;
                    @media (min-width: 828px) and (max-width: 996px) {
                        padding: 5px 5px 5px 5px;
                    }
                }
            }
        }
    }
    
    .wrapper{
        .contacts{
            &_item{
                &:last-child{
                    margin-left: 60px;
                }
            }
            .contact_map{
                width: 550px;
            }
            @media (min-width: 827px) and (max-width: 956px) {
                &_item{
                    &:last-child{
                        margin-left: 30px;
                    }
                }
                .contact_map{
                    width: 400px;
                }
            }
        }
    }
}

@media (max-width: 827px) {

    header{
        .header{
            .humburger_btn{
                display: block;
            }
            .header_tel{
                flex-basis: 30%;
            }
            .header_btn{
                flex-basis: 0%;
                display: none;
                text-align: end;
            }
        }    
        nav{
            display: none;
        }
        .top{
            margin-top: 30px;
            &_info_text{
                h1{
                    font-size: 36px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }

    .wrapper{
        .contacts{
            &_item{
                &:last-child{
                    margin-left: 0px;
                }
            }
            .contact_map{
                display: none;
            }
        }
    }
}

@media (max-width: 643px) {

    header{
        .header{
            .humburger_btn{
                display: block;
            }
            .header_logo{
                flex-basis: 20%;
                a{
                    display: block;
                    align-items: center;
                }
            }
        }
    }
}

@media (max-width: 597px) {

    .menu{
        width: 130%;
        height: 100vh;
        ul{
            padding: 0;
            margin: 0;
            line-height: 30px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            li{
                a{
                    font-size: 2rem;
                    line-height: 30px;
                }
            }
        }
    }

    .menu_active{
        transform: translateX(-20%);
        .humburger_menu{
            height: 60%;
        }
    }

    header{
        .header{
            justify-content: flex-start;
            .humburger_btn{
                display: block;
                margin-right: 20px;
            }
            .header_logo{
                flex-basis: 30%;
                width: 100px;
                a{
                    display: block;
                    align-items: center;
                }
            }
            .header_tel{
                display: none;
                flex-basis: 30%;
                text-align: end;
                margin-right: 20px;
                h3{
                    font-size: 14px;
                }
                small{
                    display: none;
                    color: $grey;
                }
            }
        }
        .top{
        &_info_text{
            h1{
                padding-top: 170px;
                color: $white;
                text-transform: uppercase;
                font-size: 36px;
                opacity: 0.9;
                margin: 0;
            }
            p{
                margin-top: 30px;
                max-width: 240px;
                color: $white;
                font-size: 14px;
                opacity: 0.9;
            }
        }

        &_info_link{
            flex-wrap: wrap;
            }
            .link_top_info{
                flex-basis: 100%;
                margin: 0;
                margin-top: 20px;
            }
        }
    }

    footer{
        background-color: $footer;
        padding: 40px;
        .footer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .footer_item{
                flex-basis: 50%;
                margin-bottom: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    display: block;
                    margin-bottom: 10px;
                    cursor: pointer;
                }
                small{
                    flex-direction: 3;
                    color: $white;
                    font-size: 10px;
                }
            .footer_contacts{
                text-align: left;
                line-height: 18px;
                // margin-top: 30px;
                .footer_contacts-info{
                    text-align: center;
                }
                h3{
                    text-align: center;
                    font-size: 18px;
                    color: $white;
                }
                p{
                    font-size: 12px;
                    color: $grey;
                }
            }

            }
        }
    }
}

@media (max-width: 400px) {
    .wrapper{
        .presence{
            .box{
                &_item{
                    padding: 10px;
                }
            }
        }
        .advantage{
            .box{
                &_item{
                    flex: 0 0 250px;
                    padding: 10px;
                }
            }
        }
        .popular_goods{
            .box{
                &_item{
                    flex: 0 0 200px;
                }
            }
        }
        .service{
            .box{
                &_item{
                    flex: 0 0 250px;
                    padding: 18px 14px 18px 14px;
                    margin: 10px;
                }
            }
        }
    }
}
